@media only screen and (min-width: 960px){
    *{
        background: #F3F5FC;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
    }
    body{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .logo{
        padding-top: 10px;
        margin-left: 10px;
        width: 2%;
    }
    main{
        display: flex;
        margin-left: 40px;
    }
    .content{
        display:flex ;
    }
    .Entrada{
        display: block;
    }
    .texto{
        border: none;
        color: #0A3871;
        margin-top: 20px;
        text-transform: lowercase;
        resize:none;
    }
    .texto::placeholder{
        color: #0A3871;
    }
    .texto:focus{
        outline: none;
    }
    .textomensaje{
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 24px;
        margin-left: 30px;
        height: 580px;
        color:#0A3871;
        font-family: 'Oleo Script', cursive;
    }
    .areaencriptado{
        color:#0A3871;
        background: transparent;
        font-family: 'Oleo Script', cursive;
        border: none;
        background-image:url(./Imagenes/Muñeco.png);
        background-repeat: no-repeat;
        background-position: center;
        height:73%;
        resize: none;
    }
    .areaencriptado:focus{
        outline: none;
    }
    .linea1{
        color:#0A3871;
        text-align: center;
        background: transparent;
        font-size: 15px;
    }
    .linea1 strong{
        font-weight: bolder;
        font-size: 1.6em;
        background: transparent;
    }
    .botones{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        background-color: transparent;
    }
    .encriptar{
        width: 328px;
        height: 67px;
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .desencriptar{
        box-sizing: border-box;
        width: 328px;
        height: 67px;
        background: #D8DFE8;
        border: 1px solid #0A3871;
        color: #0A3871;
        border-radius: 24px;
        margin-left: 30px;
        cursor: pointer;
    }
    .botoncopiar{
        display: flex;
        
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        background: #FFFFFF;
        position: absolute;
    }
    .copiar{
        box-sizing: border-box;
        width: 328px;
        height: 67px;
        border: 1px solid #0A3871;
        color: #0A3871;
        border-radius: 24px;
        margin-left: 30px;
        cursor: pointer;
        position:absolute;
    }
    .mensajeadv{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .adv{
        color: #495057;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    /* footer{
        display:flex;
        max-width: 1280px;
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.5rem 0;
        align-items: center;
        transition: 0.5s;
        border-radius: 16px 16px 0px 0px;
        background-color: #FFFFFF;
    }
    
    .iconos {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: transparent;
    }
    .iconos a{
        text-align: center;
        margin-right: 1rem;
        margin-left: 1rem;
        cursor: pointer;
        position: relative;
        bottom: 0px;
        background-color: transparent;
    }

    .logogit{
        height:30px;
        width: 30px;
        image-rendering: 1/1;
        ;
    }
    .logolinkedin{
        height:30px;
        width: 30px;
        margin-left: 10px;
        ;
    }
    .texto_copy { 
        margin: auto;
        font-size: 20px;
        align-items: center;
        margin-block-start: 0em;
        margin-block-end: 0em;
        background-color: transparent;
    } */
}
<<<<<<< HEAD
@media screen and (max-width: 375px){
    *{
        background: #F3F5FC;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
    }
    body{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .logo{
        padding-top: 10px;
        margin-left: 10px;
        width: 2%;
    }
    main{
        display: flex;
        flex-direction: column;
        /*margin-left: 40px; */
    }
    .content{
        display: block;
        /* display:flex ; */
    }
    .Entrada{
        display: block;
    }
    .texto{
        border: none;
        color: #0A3871;
        margin-top: 20px;
        text-transform: lowercase;
        resize:none;
        height: 10em;
        width: 359px;
    }
    .texto::placeholder{
        color: #0A3871;
    }
    .texto:focus{
        outline: none;
    }
    .textomensaje{
        display: block;
        background: #FFFFFF;
        /* box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 24px; */
        /* margin-left: 30px; */
        
        color:#0A3871;
        font-family: 'Oleo Script', cursive;
        position:relative;
        margin-top:30px;
    }
    .areaencriptado{
        color:#0A3871;
        background: transparent;
        font-family: 'Oleo Script', cursive;
        border: none;
        
        /* background-image:url(./Imagenes/Muñeco.png);
        background-repeat: no-repeat;
        background-position: center;
        height:73%; 
        resize: none;*/
    }
    .areaencriptado:focus{
        outline: none;
    }
    .msg{
        /* color:#0A3871; */
        text-align: center;
        justify-content: center;
        background: white;
        
        position:absolute;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 20px; 
        padding: 0px;
        gap: 20px;
        width:359px;
        height: 80px;
    }
    .linea1{
        font-size: 15px;
        background-color: transparent;
    }
    .linea1 strong{
        font-weight: bolder;
        font-size: 1.6em;
        background: transparent;
    }
    .botones{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: relative;
        background-color: transparent;
        align-items: center;
    }
    .encriptar{
        width: 338px;
        height: 67px;
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .desencriptar{
        box-sizing: border-box;
        width: 338px;
        height: 67px;
        background: #D8DFE8;
        border: 1px solid #0A3871;
        color: #0A3871;
        border-radius: 24px;
        /* margin-left: 10px; */
        cursor: pointer;
    }
    .botoncopiar{
        display: flex;
        
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 24px;
        background: #FFFFFF;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 24px; 
        /* margin-left: 30px; */
        width: 339px;
        font-size: 15px;
        color:#0A3871;
        font-family: 'Oleo Script', cursive;
        
    }
    .copiar{
        box-sizing: border-box;
        width: 328px;
        height: 67px;
        border: 1px solid #0A3871;
        color: #0A3871;
        border-radius: 24px;
        margin-left: 5px;
        cursor: pointer;
        position:relative;
    }
    .mensajeadv{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .adv{
        color: #495057;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}
=======
>>>>>>> 767cba570014ef8ccc4a4a24d8cfce44597c2e86
